<h1 class="titulo2">Servicios Web de Acceso a Base de datos Semantica</h1>

<div class="boxMensaje">
	<a title="Todas las Pizzas Registradas" href="/pizza/pizzas">Pizzas</a>
	<a title="Rodos los Toppings REgistrados" href="/pizza/toppings">Toppings</a>
	<a title="Toppings de Cada Pizza" href="/pizza/ingredientes">Pizzas con Toppings</a>
</div>