<!DOCTYPE html>

<%var urlbase = '';
 if(sails.config.ruteo) {
    urlbase = sails.config.ruteo;
 }
%>

<html>

<head>
  <meta charset="UTF-8">
  <title> <%=title%> </title>
  
  <link rel="stylesheet" href="/styles/styles.css">

  <style>
    .icon-arrow-right:before {transform:rotate(180deg); float: left;}

    .boxMensaje a {
      display: inline-block;
    }
  </style>

</head>

<body>

  <header>

  </header>

    <div class="container barratop aqua">
      <div class="info">
        <h1>Servicios Web <span>SPARQL</span></h1>
        <p>Conjunto de servicios web que dan acceso a datos de una base de datos sematica</p>
      </div>
    </div>

    <section class="content">



      <div class="wrap" style="min-height:500px;">

        <%- body %>  
      
      </div>

    </section>

  </body>

  <footer>
    <div class="wrap">
      <div class="col-3">
        <h3>La empresa</h3>
        <a href="#">TransaMóvil.com</a>
        <a href="#">Soporte</a>
        <a href="#">Blog</a>
      </div>
      <div class="col-3">
        <h3>Políticas</h3>
        <a href="#">Políticas de privacidad</a>
        <a href="#">Políticas de seguridad</a>
        <a href="#">Términos y condiciones</a>
        <a href="sugerencias-reclamos">Sugerencias y reclamos</a>
      </div>
      <div class="col-3 siguenos">
        <h3>Síguenos</h3>
        <a href="#" class="icon-facebook"></a>
        <a href="#" class="icon-twitter"></a>
        <a href="#" class="icon-google"></a>
      </div>

      <p class="firma">&copy Copyright 2015 | Celupago C.A. RIF.: J-31727952-2 | Reservados todos los derechos</p>

    </div>
  </footer>

</html>
