/********/

   @font-face {
    font-family: 'gothamB';
    src: url('fonts/Gotham-Medium.eot');
    src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Medium.woff') format('woff'),
         url('fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }

  @font-face {
    font-family: 'gothamM';
    src: url('fonts/Gotham-Book.eot');
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Book.woff') format('woff'),
         url('fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }

  @font-face {
    font-family: 'gothamL';
    src: url('fonts/Gotham-Light.eot');
    src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Light.woff') format('woff'),
         url('fonts/Gotham-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }

/*Resets*/

body,
button,
input,
textarea {font-smoothing: antialiased;}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color:#3e3e3e;
  font-family: "gothamM", serif;
  background: #EFEFEF;
  background: white;
  background-attachment: fixed;
  user-select:none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  outline:none;
}

*::focus {
  outline: none;
}

li { list-style: none;}

button { cursor: pointer;}

textarea { resize:none; }

img { border:none;}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-family: "gothamB", serif;
}

h1,h2,h3,h4,h5,h6,p,a,table { user-select: text; }
/********/

/*Comunes*/

.container { width: 100%; float: left; clear: both; overflow: hidden;}
.wrap { margin:auto; width: 98%; max-width: 1000px; position: relative;}
.break { width: 100%; height: 0; float: left; clear: both;}
.relative {position: relative;}
.col-2 { width: 50%; float: left;}
.col-3 { width: 33.33333%; float: left;}
.tleft {text-align: left !important;}
.left {float: left !important;}
.right {float: right !important;}
.tcenter {text-align: center !important;}
.tright {text-align: right !important;}
.seleccionable {user-select:text;}

.centrado {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.boton {
  border:none;
  vertical-align: top;
  display: inline-block;
  cursor:pointer;
  text-decoration: none;
  font-family: "gothamB", serif;
  text-align: center;
  color: white !important;
  border-radius:3px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.16);
}
.boton:hover { border-color: #616161;}
.boton:focus,
.boton:active {outline: none;}
.boton:active {background: #333333;}

.small {
  padding: 0px 15px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}

.medium {
  padding: 0 15px;
  height: 40px;
  line-height: 37px;
  font-size: 12px;
  min-width: 80px;
}

.large {
  padding: 0 5px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  min-width: 100px;
}

.yellow {background: #F2DA63;}

.verde10 {
  background: #00D1AE;
}
.verde20 {
  background: #00B092;
}
.verde30 {
  background: #08A55D;
}
.cyan {
  background: #00b4c8;
}

.aqua {
  background: #00B5CA;
}
.azul {
  background: #008A98;
}

.orange { background: #EDA55A;}
.gris10 {
  background: #F7F7F7;
  color: #3e3e3e;
}
.gris20 {
  background: #8B8B8B;
}
.rojo {
  background: #EC290A;
}

.ghost {
  box-shadow: none;
  border:solid 1px;
}

.ghost2 {
  border-top:solid 1px #E3E3E3;
  border-left:solid 1px #E3E3E3;
  border-right:solid 1px #E3E3E3;
  color: #616161;
  background: white;
}

span.help-block.form-error,
span.help-block {
  font-size: 10px;
  padding-top: 4px;
  display: block;
  clear: both;
}
span.help-block.form-error {color: rgb(185, 74, 72);}

/***********/

a {color: #0074B2;}

header {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid 1px #E2E2E2;
  background:white;
  z-index: 999;
}

header #logo {
  float: left;
  margin-left: 10px;
  z-index: 99999;
  width: 110px;
}

header .usuario {
  padding-left: 25px;
  float: right;
  height: 44px;
}

header .usuario .img {
  position: absolute;
  top: 11px;
  right: 11px;
  border: solid 3px white;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  background-position: center !important;
  background-size: cover !important;
  cursor: pointer;
  z-index: 99;
}

header .usuario p {
  float: right;
  margin-right: 70px;
  font-size: 11px;
  margin-top: 17px;
  position: relative;
}

header .usuario p i {
  font-size: 20px;
  position: absolute;
  left: -20px;
  top: -5px;
}

header .usuario .menu {
  position: absolute;
  width: 220px;
  padding: 30px 0 10px 0;
  background: rgb(247, 247, 247);
  top: 100%;
  right: 0;
  display: none;
  border:solid 1px #E3E3E3;
}

header .usuario:hover .menu { display: block;}
header .usuario:hover .img { border-color: #F7F7F7;}

header .usuario .menu span {
  position: absolute;
  top: 5px;
  left: 0;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  border-bottom: solid 1px #EAEAEA;
  width: 100%;
  display: none;
}

@media only screen and (max-width:800px){
  header .usuario .menu span {display: block;}
  header .usuario p { display: none;}
}

header .usuario .menu a {
  color: #616161;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 5px 0;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}

header .usuario .menu a:hover {
  background: rgba(0,0,0,.04);
}

.barratop {
  margin-top: 45px;
  width: 100%;
  height: 70px;
  position: relative;
  color: white;
  overflow: inherit;
}
.barratop .wrap {overflow: hidden;}

.barratop .saldo {
  float: left;
  margin-top: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.16);
  text-shadow: -1px 1px 1px rgba(148, 148, 148, 0.58);
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  cursor: pointer;
}

.barratop .info {
  margin-left: 30px;
  float: left;
  margin-top: 12px;
}
@media only screen and (max-width:800px){
 .barratop .info {display: none;}
 .barratop .saldo {
  margin-left: 50%;
  transform:translateX(-50%);
 }
}

.barratop .info h1 {
  font-family: "gothamM", serif;
  font-size: 20px;
}
.barratop .info p {
  font-size: 17px;
}

.barratop .info span {
  font-family: 'gothamB';
}

.barratop .fechahora {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-family: "gothamB";
  letter-spacing: 0.4px;
}

.alertas {
  float: right;
  margin-top: 11px;
  margin-right: 20px;
  font-size: 20px;
  position: relative;
}

.alertas .menu-alert {
  position: absolute;
  top: 34px;
  right: 0;
  width: 300px;
  background: #F5F5F5;
  color: #434343;
  z-index: 9;
  border:solid 1px #E3E3E3;
  display: none;
}

.alertas .menu-alert .vertodas {
  text-align: center;
  font-family:'gothamB';
  padding: 10px 0;
  width: 100%;
  color: #616161;
  font-size: 12px;
  display: block;
  float: left;
  text-decoration: none;
}

.alertas .menu-alert .vertodas:hover {
  text-decoration: underline;
}

.alertas .menu-alert .item {
  float: left;
  font-size: 12px;
  display: block;
  width: 100%;
  text-decoration: none;
  background: #FEFFD1;
  padding: 10px 5px;
  border-bottom: solid 1px #E3E3E3;
  color: #616161;
  line-height: 19px;
}

.alertas .menu-alert .item:last-child { border-bottom: none; }

.alertas .menu-alert .item:hover { background: #FBFBFB; }

.alertas .menu-alert .item .fecha {
  font-size: 10px;
  color: #A0A0A0;
  font-family:'gothamB';
}

.alertas .menu-alert .img {
  margin-right: 5px;
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
  background-position: center !important;
  background-size: cover !important;
}

@media only screen and (max-width:800px){
 .alertas {margin-right: 60px;}
}

/*.alertas .menu-alert :after {
  bottom: 100%;
  right:0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #F5F5F5;
  border-width: 10px;
}*/

.alertas .menu-alert h3 {
  font-size: 12px;
  color: #616161;
  padding: 10px;
  font-family:'gothamM';
}

.alertas .menu-alert h3 i {
  float: right;
  vertical-align: middle;
  cursor: pointer;
}

.alertas .menu-alert h3 i:before {
  /*font-family: 'icomoon' !important ;*/
}

.alertas .iconos {
  color: black;
  opacity: .3;
  cursor: pointer;
}

.alertas i.icon-bell:hover {opacity: .4;}

.alertas i.icon-mail:hover {opacity: .4;}

.alertas .counter {
  color: white;
  background: #ff3019;
  background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
  background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
  background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
  background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
  background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
  font-size: 10px;
  text-align: center;
  padding: 1px 5px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 18px;
  right: 13px;
  z-index: 9;
}

.listado-alertas .item {
  float: left;
  font-size: 12px;
  display: block;
  width: 100%;
  text-decoration: none;
  background: white;
  padding: 10px 5px;
  border-bottom: solid 1px #E3E3E3;
  border-top: solid 1px #E3E3E3;
  color: #616161;
  line-height: 19px;
}

/*.listado-alertas .item:last-child {border-bottom: none;}*/

.listado-alertas .item:hover { background: #FBFBFB; }

.listado-alertas .item .fecha {
  float: right;
  margin-top: 10px;
  font-size: 10px;
  color: #A0A0A0;
  font-family:'gothamB';
}

.listado-alertas .item .hora {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 10px;
  color: #A0A0A0;
  font-family:'gothamB';
}

.listado-alertas .img {
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
  background-position: center !important;
  background-size: cover !important;
}

.listado-alertas .noVisto { background: #FEFFD1; }

.listado-alertas .tm {
  float: left;
  margin-top: 10px;
}

.listado-alertas .texto {
  margin: 1%;
  text-align: center;
}

.alertas .fecha {
  float: right;
  font-size: 10px;
  color: #A0A0A0;
  font-family:'gothamB';
}

.alertas .hora {
  float: center;
  font-size: 10px;
  color: #A0A0A0;
  font-family:'gothamB';
}

.barra2 {
  /*background: #F5F5F5;*/
  background: #FAFAFA;
  height: 40px;
  border-bottom: solid 1px #E3E3E3;
  padding-top: 7px;
}

.barra2 p {
  float: right;
  font-size: 11px;
  margin-right: 10px;
  margin-top: 5px;
}

.barra2 .buscar {
  float: right;
  margin-top: 2px;
  position: relative;
}

.barra2 .buscar input {
  background: white;
  border:solid 1px #E3E3E3;
  border-radius: 10px;
  height: 22px;
  padding-left:10px;
}

.barra2 .buscar button {
  position: absolute;
  right: 5px;
  top: 4px;
  background: none;
  border:none;
  font-size: 11px;
  /*padding: 2px;*/
  color: #BBA9A9;
}

@media only screen and (max-width:800px){
 .barra2 p, .barra2 .buscar {display: none;}
 .barra2 .wrap.botonGroup2 {text-align: center;}
}


.botones-saldo {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  width: 404px;
}

.botones-saldo a {
  margin:0 5px;
  font-size: 13px;
}

.botones-saldo a i {
  font-size: 18px;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
}

.nav {
  /*transition:all 250ms ease-in-out;*/
  /*width: 44px;*/
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 99;
  background: #F5F5F5;
  border-right: solid 1px #E3E3E3;
  padding:10px;
  /*width: 150px;*/
}

.nav-cambia {width: 50px !important;padding-top: 45px !important ;}
/*.nav-oh {overflow: hidden !important;}*/

.nav li a {user-select:none;}

.nav > li {
/*  min-height: 35px;
  clear: both;*/
  overflow: hidden;
  /*padding-right: 10px;*/
}

.nav:hover li { overflow: visible;}

.nav > li > a {
  color: #616161;
  text-decoration: none;
  font-size: 13.5px;
  display: inline-block;
  font-family:'gothamM';
  vertical-align: middle;
  padding:10px 5px;
  border-radius: 3px;
}
.npr { padding-right: 25px !important;}

.nav li a {
  width: 100%;
  /*max-width: 140px;*/
  min-width: 140px;
}

.nav > li > a:hover {background: rgba(0,0,0,.04);}

.nav-item-activo {background: #ECECEC !important;}

.nav li a:before {
  font-family: 'icomoon'!important;
  font-size: 20px;
  vertical-align: middle;
}

.nav li a span {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
.nav-notext {display: none !important;}

.nav-notext-over {display: inline-block !important;}

.nav li  {position: relative;}

.nav li a.padre span:after {
  font-family: 'icomoon';
  content: "\e61c";
  position: absolute;
  right: 5px;
  top: 14px;
  font-size: 12px;
  color: #BDBDBD;
}

.padreOpen:after {
  content: "\e61e" !important;
}

.ndn:after {display: none !important;}
/*.nav > li > a:hover .nav-notext {display: inline-block!important;}*/

.nav > li > a:hover span,

.nav li ul:hover span {display: inline-block !important;}

.nav .cambiamenu {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  position: absolute;
  right: -40px;
  top: 0;
  background: #EDEDED;
  border: solid 1px #E3E3E3;
  cursor:pointer;
  color: rgb(97, 97, 97);
}

.cambiamenu-dif {
  border:none !important ;
  border-bottom: solid 1px #E3E3E3 !important;
  width: 100% !important ;
  left: 0 !important ;
  right: inherit !important ;
}


.nav li ul {
  padding: 10px 0;
  background-color: whitesmoke;
  border-radius: 3px;
  display: none;
}

.submenu {
  position: absolute;
  left: 40px;
  display: none !important;
  z-index: 99;
}

.nav > li:hover .submenu {display: block !important;}

.nav li ul li a {
  color: #616161;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  padding: 4px 0;
  font-family:'gothamM';
  position: relative;
  padding-left: 5px;
}

.nav li ul li a:before {
  font-family: 'icommon';
  content: "\e61d";
  vertical-align: middle;
  float: left;
  display: block;
  font-size: 20px;
  margin-top: -3px;
  margin-right: -5px;
}

.nav li ul li a:hover {color: #0095A6;}

/*.navactivo {width: 150px;}

.nav:hover {
  width: 150px;
  transition:all 250ms 50ms ease-in-out;
}

.nav:hover > li:after {
  opacity: 1;
  transition:all 150ms ease-in;
}

.nav > li {
  color: #616161;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  display: block;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
  font-family:'gothamM';
}
.nav > li:before { font-family: 'icomoon' !important;}

.nav > li:first-child {border-top: none;}
.nav > li:last-child {border-bottom: none;}

.nav > li:after {
  font-size: 11px;
  margin-left: 10px;
  position: absolute;
  left: 30px;
  top: 22px;
  opacity: 0;
  transition:all 100ms 250ms linear;
}
.nav:hover li:after { transition:all 100ms 400ms linear;}

.nav > li:hover { background: rgba(0,0,0,.04);}

.nav li ul {
  display: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  background: white;
}

.nav li ul li {
  display: block;
  font-size: 10px;
  line-height: 15px;
  padding: 4px 0;
  padding-right: 10px;
  text-align: left;
  padding-left: 15px;
  color: #414141;
}
.nav li ul li a {color: #414141; text-decoration: none;}
.nav li ul li a:hover { text-decoration: underline;}

.nav li:before { margin-left: 10px; font-size: 23px;}

.nav .icon-home:after {content: "Inicio";}
.nav .icon-cuenta:after {content: "Cuentas";}
.nav .icon-cuenta2:after {content: "Cuentas";}
.nav .icon-transfer:after {content: "Transferencias";}
.nav .icon-historial:after {content: "Movimientos";}
.nav .icon-servicios:after {content: "Servicios";}
.nav .icon-gear:after {content: "Configuración";}
.nav .icon-exit:after {content: "Salir";}*/

/*Contenido central*/

.content {
  width: 100%;
  min-height: 800px;
  /*padding-left: 170px;*/
  overflow: hidden;
  position: relative;
  float: left;
}

@media only screen and (max-width:1450px){
  .content_padding {padding-left: 170px;}
}

.content-dif { padding-left:0px !important;}

@media only screen and (max-width:1140px){
  .content-dif {padding-left: 50px !important;}
}

.content .wrap {
  margin-bottom: 5%;
  overflow: hidden;
}

h2.titulo {
  border-bottom: solid 1px #00B5CA;
  width: 100%;
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
  font-family: "gothamM", serif;
  position: relative;
  text-align: left;
  font-size: 12px;
}

h1.titulo2 {
  border-bottom: solid 1px #00B5CA;
  width: 100%;
  display: block;
  font-size: 16px;
  margin: 25px 0;
  padding-bottom: 5px;
  font-family: "gothamM", serif;
  position: relative;
  text-align: left;
  font-size: 18px;
}

h1.titulo {
  border-bottom: solid 1px #00B5CA;
  width: 100%;
  display: block;
  font-size: 16px;
  margin: 25px 0;
  padding-bottom: 5px;
  font-family: "gothamM", serif;
  position: relative;
  text-align: left;
  font-size: 12px;
}

h1.titulo:before {
  font-size: 16px;
  margin-right: 5px;
  float: left;
  margin-top: -3px;
  font-family: 'icomoon';
}

h1.titulo i {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  color: #A9AEB6;
  background: #FAFAFA;
  border:solid 1px #E3E3E3;
  border-radius: 3px;
  user-select:none;
}
/*h1.titulo i:hover {background: #F0F0F0;}*/

.accionGuardar {
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 12px;
  padding:0 5px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  /*color: #A9AEB6;*/
  color: white;
  background: #DD855C;
  /*border:solid 1px #E3E3E3;  */
  border-radius: 3px;
}

.menutooltip {
  position: absolute;
  top: -1px;
  right: 100%;
  margin-right: 5px;
  background: rgb(250, 250, 250);
  border: solid 1px #E3E3E3;
  z-index: 99;
  padding: 5px 0;
  border-radius: 3px;
  display: none;
  user-select:none;
}

.menutooltip a {
  display: block;
  font-family: 'gothamM';
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  user-select:none;
  color: #616161;
}

.menutooltip a:hover {background: rgba(0,0,0,.04);}

.mt-accion {
}

.accesosRapidos,
.serviciosTodos,
.serviciosCatalogo,
.serviciosAfiliados {overflow: initial !important;}

.accesosRapidos,
.serviciosTodos,
.serviciosCatalogo,
.serviciosAfiliados {text-align: center;}

.accesosRapidos .agregar {
  width: 160px;
  height: 160px;
  margin: 5px;
  display: inline-block;
  position: relative;
  border: dashed 2px rgba(179, 179, 179, 0.49);
  border-radius: 3px;
  cursor: pointer;
  /*box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.3);*/
}

.accesosRapidos .agregar:hover {
  background: #FAFAFA;
}

.accesosRapidos .agregar i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #B3B3B3;
}

.drag_activo {
  border: 3px dashed #E6E5E4 !important ;
  box-shadow: inherit !important;
  /*opacity: .8;*/
}

.sortable {
  overflow: hidden;
}

.act1 {height: 100% !important;}

.act2 { display: none !important;}

.accesosRapidos > a,
.serviciosTodos > a,
.serviciosCatalogo > a,
.serviciosAfiliados > a {
  text-align: center;
  width: 160px;
  height: 160px;
  margin: 5px;
  display: inline-block;
  position: relative;
  background-color: #FAFAFA;
  border: solid 1px #E6E5E4;
  border-radius: 3px;
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.3);
  vertical-align: top;
}

.accesosRapidos .img,
.serviciosTodos .img,
.serviciosCatalogo .img,
.serviciosAfiliados .img {
  width: 100%;
  height: 105px;
  position: absolute;
  top: 0;
  left: 0;
}

.items .img {
  width: 100%;
  height: 105px;
  top: 0;
  left: 0;
}

.accesosRapidos .img img,
.serviciosTodos .img img,
.serviciosCatalogo .img img,
.serviciosAfiliados .img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80px;
}

.items .img img {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  max-width: 120px;
}

.accesosRapidos a span,
.serviciosTodos a span,
.serviciosCatalogo a span,
.serviciosAfiliados a span {
  background: white;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: solid 1px #E6E5E4;
}

.accesosRapidos a span p,
.serviciosTodos a span p,
.serviciosCatalogo a span p,
.serviciosAfiliados a span p {
  font-family: "gothamB", serif;
  color: #24B1C2;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 5px;
  width: 135px;
  text-align: center;
  transform:translateY(-50%);
}

.accesosRapidos a i,
.serviciosTodos a i,
.serviciosCatalogo a i,
.serviciosAfiliados a i {
  font-size: 14px;
  float: right;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  transition: all 150ms ease-in-out;
  margin-top: 18px;
  margin-right: 9px;
  color: #00B5CA;
}
.accesosRapidos a:hover i,
.serviciosTodos a:hover i,
.serviciosCatalogo a:hover i,
.serviciosAfiliados a:hover i { margin-right: 5px;}

.config {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
}

.accesosRapidos .accion,
.serviciosTodos .accion,
.serviciosCatalogo .accion,
.serviciosAfiliados .accion {
  position: absolute;
  top: -17px;
  left: -12px;
  background: white;
  z-index: 9;
  text-align: center;
  color: rgba(202, 64, 0, 0.64);
  font-size: 13px;
  border-radius: 50%;
  padding: 7px;
  border: solid 1px #DD855C;
  display: none;
}

/*
.serviciosTodos .accion.agregar {
  position: absolute;
  top: -17px;
  left: 90%;
  background: white;
  z-index: 9;
  text-align: center;
  color: rgba(202, 64, 0, 0.64);
  font-size: 13px;
  border-radius: 50%;
  padding: 7px;
  border: solid 1px #DD855C;
  display: none;
}
*/

.serviciosTodos .item-servicio:hover {
  cursor: pointer;
}

.logo_servicio {
  text-align: center;
  width: 160px;
  height: 160px;
  display: inline-block;
  position: relative;
  background-color: #FAFAFA;
  border: solid 1px #E6E5E4;
  border-radius: 3px;
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  margin-right: 10px;
}

.logo_servicio img {
  max-width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banners {
  width: 100%;
  float: left;
  padding: 15px;
  border: solid 1px #E3E3E3;
}

.banners .col-2:nth-of-type(1) { padding-right: 10px;}
.banners .col-2:last-child {padding-left: 10px;}

.banners img { width: 100%;}

.banners .banner-inf {margin-top: 8px;}

.banner-flotante {
  text-align: center;
  width: 178px;
  height: auto;
  right: 15px;
  bottom: 35px;
  position: fixed;
  background: rgba(255,255,255,0.8);
  border: 1px solid rgba(0,0,0,0.05);
  z-index: 1000000;
  padding: 24px 24px 10px 24px;
  font-size: 12px;
}

.banner-flotante .cerrar-banner {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 24px;
  color: #777;
}

.banner-flotante .cerrar-banner:before {
  content: 'x';
  display: inline-block;
}

.banner-flotante .cerrar-banner:hover {background: #e3e3e3;}

.banner-flotante img {width: 100%;}

.banner-flotante a {text-decoration: none;display: block;color: inherit;}

.banner-flotante .texto-banner {
  padding: 10px 0;
}

.noticias h1,
.banners h1 { margin-top: 0; }

.tooltip {
  position: absolute;
  right: 15px;
  top: 25px;
  background: rgb(0, 116, 178);
  color: white;
  padding: 10px 10px;
  border-radius: 3px;
  display: none;
}

.tooltip a {
  text-decoration: none;
  color: inherit;
  font-size: 10px;
  display: block;
  padding: 3px 0;
  text-align: right;
}

.tooltip a:hover {
  text-decoration: underline;
}

/*Tablas*/

table {
  margin:auto;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  background: #fff;
  overflow-y: hidden;
  border-bottom: 1px solid #EBE8E8;
}

table.smallTable { max-width: 500px; }

table.mediumTable { max-width: 650px; }

table .thead {
  background: url(../images/texture2.png) !important;
}

table a.link {
  margin-left:5px;
  text-decoration: none;
  float: right;
}

table a.link:hover { text-decoration: underline;}

.link2 {
  text-decoration: none;
  background: none;
  border:none;
  color: #0074B2 !important;
  display: inline-block;
}

.link3 {
  text-decoration: none;
  background: none;
  border:none;
  color: #0074B2 !important;
  display: block;
}

.link2:hover {text-decoration: underline;}

.link-trigger {
  margin: 20px 0;
  overflow: hidden;
  max-width: 650px;
  margin: auto;
}

.link-trigger .hijo {
  display: none;
  width: 100%;
  float: left;
  clear: both;
}

.link-trigger a {
  color: #0074B2;
  text-decoration: none;
  float: left;
  line-height: 20px;
  font-size: 12px;
}

.link-trigger i {
  color: black;
  font-size: 20px;
  float: left;
  transform: rotate(-90deg);
}
.icon-arrow-down-open {transform: rotate(0deg) !important;}

table td {
  color: #4F4F4F;
  font-size: 13px;
  font-weight: normal;
  padding: 7px 5px;
}

table td:first-child { border-left: none; }

table.listado tr:hover {background: rgba(0, 137, 151, 0.04);}

table  tr:nth-child(2n+1) {
  /*background: #FAFAFA;*/
  border-top: solid 1px #EBEBEB;
  border-bottom: solid 1px #EBEBEB;
}

table input[type="text"],
table input[type="password"],
table textarea,
table select { width: 100%;  }

input[type="text"],
input[type="password"],
textarea,
select {
  font-size: 13px;
  padding-left: 5px;
  height: 35px;
  border:solid 1px #CFCFCF;
  background: white;
  color: #4A4A4A;
  border-radius: 3px;
  font-family: "gothamM", serif;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus,
button:focus {
  box-shadow: 0 0 2px blue;
}

select.mes,
select.anio {width: 50%; float: left;}

textarea { height: 100px !important; padding-top: 5px;}

table .requerido {position: relative;}

table .requerido:after {
  content:'*';
  position: absolute;
  right: -12px;
  height: 15px;
  top: 50%;
  margin-top:-7.5px;
  font-size: 20px;
  color: rgb(0, 181, 202);
}

table input { vertical-align: middle; margin: auto; display: block;}

table input[type="file"] { margin: inherit;}

table .nocenter { margin: inherit; display: inline-block;}

table input.fecha {
  width: 120px !important ;
  float: left !important;
}

input[readonly] {cursor:no-drop; cursor:not-allowed;}

input[readonly]:focus {box-shadow: none;}

table tr .edit-elim {
  display: none;
  margin-left: 20px;
  float: right;
}

table tr:hover .edit-elim {
  /*display: block;*/
  display: inline-block;
}

table tr .edit-elim a {
  margin-left: 0px;
  text-decoration: none;
  background-color: rgb(249, 249, 249);
  padding: 8px;
  color: rgb(124, 124, 124);
  font-size: 10px;
  text-transform: uppercase;
  border: solid 1px #EBEBEB;
  text-align: right;
}

table span.mes {
  display: block;
  text-align: center;
  font-family: "gothamB", serif;
  text-transform: uppercase;
  color: rgb(0, 181, 202);
  font-size: 12px;
}

table span.dia {
  display: block;
  text-align: center;
  color: rgb(0, 181, 202);
  font-size: 18px;
  font-family: "gothamB", serif;
}

label {
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

input {vertical-align: middle;}

.sflo {
  position: absolute;
  width: 65px;
  border-radius: 03px 0 0 3px;
}

.sfloi {
  padding-left: 70px !important;
}

.inlab {
  text-align: right;
  margin-top: 3px;
}
.inlab label {margin-right: 0 !important;}

.nota {
  padding: 10px;
  margin: 20px 0;
  font-size: 12px;
  text-align: center;
}

.nota ol,
.nota ul {
  max-width: 550px;
  text-align: left;
  margin: 20px auto;
}

.nota ol li,
.note ul li { list-style: inherit; margin: 8px 0; margin-left: 30px; }

.logotdc {
  display: inline-block;
  width: 35px;
  height: 22px;
  background: url(../images/creditcards.png);
  background-size: 70px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 10px;
}

.logotdc.visa {
  background-position: top left;
}
.logotdc.master {
  background-position: top right;
}
.logotdc.american {
  background-position: bottom right;
}

.logo_servicio_digitel {
  text-align: center;
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  background-color: #FAFAFA;
  border: solid 1px #E6E5E4;
  border-radius: 3px;
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
}

.logo_servicio_digitel img {
  max-width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo_servicio_movistar {
  text-align: center;
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  background-color: #FAFAFA;
  border: solid 1px #E6E5E4;
  border-radius: 3px;
  box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.3);
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
}

.logo_servicio_movistar img {
  max-width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ui-datepicker-trigger {
  margin-top: 8px;
  margin-left: -23px;
  cursor: pointer;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  padding: inherit;
  height: inherit;
}

.ui-datepicker,
.ui-state-default,
.ui-state-hover,
.ui-state-active { font-size:11px !important; }

/*********************************/

.botonGroup1 {
  margin: 5% 0;
  text-align: center;
}

.botonGroup2 {
  width: 100%;
}

@media only screen and (max-width:560px){
  .botonGroup1 .boton {
    margin-bottom: 10px;
    max-width: 190px;
    width: 100%;
  }
}

.botonGroup1 .g-recaptcha {
  width: 304px;
  margin: auto;
  margin-bottom: 20px;
}

/*Registro de usuarios*/

.registroPasos { display: none;}

.tabPasoVisible {display: block;}

.botonPasoActivo {
}

.botonesPasos {
}

/*Perfil usuarios*/
.img-perfil {
  position: relative;
}

.img-perfil a {
  position: absolute;
}

.nuevoNumero {
  display: none;
}

/*Estilos layout registro y formulario*/

.rcol {
  width: 180px;
  height: 100%;
  position: absolute;
  padding: 10px;
  top: 0;
}

.rcol.aleft {
  left: 0 !important;
}

.rcol.aright {
  right: 0 !important;
}

.rcol ul {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  /*font-family: 'gothamB';*/
  padding: 10px;
  line-height: 25px;
  font-size: 13px;
}

.formRegistro {
  margin: auto;
  display: block;
  margin-top: 50px;
  background: url(/images/texture2.png) repeat;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 7px #ECECEC;
  border: solid 1px #E2E2E2;
}

.formRegistro p {
  font-size: 12px;
  padding-bottom: 5px;
}

.formRegistro input[type="text"],
.formRegistro input[type="password"],
.formRegistro textarea,
.formRegistro select {
  width: 100%;
  /*font-size: 25px;*/
  /*font-family: 'gothamB';*/
  color: rgb(0, 181, 202);
  margin-bottom: 20px;
}

.formRegistro select {
  font-size: inherit;
  /*color: inherit;*/
}

.formRegistro input[type="text"],
.formRegistro input[type="password"],
.formRegistro select {
  height: 50px;
}

.formRegistro .next {
  /*background: #00B5CA;*/
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  display: block;
  text-decoration: none;
  font-family: 'gothamB';
  text-transform: uppercase;
}

.formRegistro .next:hover {background: #00B597;}

.w70 {width: 70px !important;}

.formu_registro .paso {
  display: none;
}

.formu_registro .paso.pasoActivo {
  display: block;
}

.boxMensaje {
  /*background: #F5F5F5;*/
  background: #FEFFD1;
  padding: 70px;
  margin-top: 30px;
}

.boxMensaje h1 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #717171;
}

.boxMensaje p {
 font-size: 14px;
 margin: 10px 0;
 line-height: 30px;
 display: inline-block;
}

.mensajesCabecera {padding: 0 20px;}

.mensajesCabecera .boton {float: right;margin-top: 12px;}

.oculta {
  display: none;
}

.oculto {
  display:none;
}

.tabs_registro {
  width: 1000px;
  font-size: 0;
  margin-bottom: 40px;
  padding-left: 10px;
}

.tabs_registro li {
  font-size: 14px;
  display: inline-block;
  font-family:'gothamB';
  background: #00B5CA;
  color: white;
  transform:skew(20deg);
  padding: 0 40px;
  padding-top: 10px;
  position: relative;
  cursor: pointer;
  border:solid 1px white;
  border-radius: 0px 5px 0px 0px;
}

.tabs_registro li::after {
  font-family:'icomoon';
  content: "\e626";
  position: absolute;
  left: 50%;
  transform:translateX(-100%) skew(-20deg);
  top: 33px;
  font-size: 12px;
}

.tabs_registro li::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00B5CA;
  top: 100%;
  left:-11px;
  transform:skew(-40deg);
  border-radius: 0px 0px 5px;
}

.tabs_registro li span {
  display: block;
  transform:skew(-20deg);
}

.tabs_registro li:hover,
.tabs_registro li:hover:before {background: dimgray;}

.tab_activo,
.tab_activo:before {
  background: #8B8B8B !important;
  color: white;
}

.tab_completado::after {
  content: "\e625" !important;
}

.alertify-logs {top:115px !important;}

.terminosCondiciones {
  position: absolute;
  z-index: 99999;
  background: #FFF none repeat scroll 0% 0%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 110px rgba(0, 0, 0, 0.8);
  background-clip: padding-box;
  padding: 50px;
}

.terminosCondiciones p {
  margin-bottom: 30px;
}


/*///////FIN layout registro/////////*/

/*Estilos varios*/

.alertify-message {
  font-size: 13px;
  line-height: 21px;
}

/*.ui-widget-header {display: none !important;}*/

.ui-dialog .ui-dialog-titlebar {display: none !important;}

footer {
  font-size: 14px;
  border-top:solid 1px #E3E3E3;
  background: #7C7C7C;
  /*color: #616161;*/
  color: rgb(239, 239, 239);
  float: left;
  width: 100%;
  text-align: center;
}

footer .wrap { padding: 2% 0px; overflow: hidden;}

footer h3 {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 10px;
}

footer a {
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: rgb(239, 239, 239);
}

footer a:hover{ text-decoration: underline;}

footer .firma {
  width: 100%;
  float: left;
  clear: both;
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  border-top: solid 1px #888888;
  margin-top: 30px;
}

@media only screen and (max-width:460px){
  footer .col-3 {width: 100%;margin:20px 0;}
}

footer .siguenos a {
  display:inline-block;
  font-size:32px;
  margin:0 5px;
}

footer .siguenos a:hover {
  text-decoration:none;
}

.preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  padding: 20px 40px;
  text-align: center;
  background: #FFF3D6 !important;
  border-radius:10px;
  box-shadow:0 0 10px #959595;
  z-index:9999;
}

.preloader span {
  display: block;
  font-size: 14px;
}

.preloader img {
  width: 20px;
}

.paginacion {
  text-align: center;
}

.paginacion li {
  border: none;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  font-family: "gothamB", serif;
  text-align: center;

  padding: 0px 15px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  background: none;
}

.paginacion li {
  color: #BDBDBD;
}

.paginacion li a {
  text-decoration: none;
  color: white !important;
}

.paginacion li[atras],
.paginacion li[adelante] {
  border:none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.16);
  background: #00B5CA;
  cursor:pointer;
  border-radius: 3px;
}

.paginacion li[atras]:hover,
.paginacion li[adelante]:hover {opacity: .9;}

.paginacion li.bloqueado {
  cursor: default;
  background: #BDBDBD;
}

.qr {}
