<h1 class="titulo2">Resultados de la Consulta</h1>


<div class="boxMensaje">
	<a href="/">volver</a>
</div>

<table>
	<tr class="thead tcenter">
	<%resultado.head.vars.forEach(function(elem){%>
		<td><%=elem%></td>
	<%});%>
	</tr>
	<%resultado.results.bindings.forEach( function(elem){ %>
		<tr class="tcenter">
			<%Object.keys(elem).forEach(function(key){%>
				<td>
					<%if(elem[key]){%>
						<%=elem[key].value%>
					<%}%>
				</td>
			<%})%>
		</tr>
	<% } );%>
</table>


